* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #ffffff;
}

header {
    height: 100px;
    width: 100%;
}

.cabeca {
    display: flex;
    align-items: center;
    background-color: #A1D0A6;
    height: 80px;
    width: 100%;
    justify-content: space-between;
    position: relative;
    z-index: 3;
}

h1 {
    margin-left: 45px;
    font-family: 'Playfair Display', serif;
    color: #716B6B;
    font-size: 4rem;
    font-weight: 400;
}

.sub {
    margin-top: -20px;
    height: 40px;
    width: 100%;
    background-color: #6B9C70;
    position: relative;
    z-index: 3;
}

h2 {
    margin-right: 45px;
    margin-top: 60px;
    font-style: italic;
    font-family: 'Playfair Display', serif;
    color: white;
    font-weight: 400;
}

.botao1, .botao2, .botao3, .botao4 {
    width: 700px;
    height: 60px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.botao1 { background: #EFACDF; }
.botao2 { background: #EFACDF; }
.botao3 { background: #EFACDF; }
.botao4 { background: #EFACDF; }

.botoes {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 1%;
    width: 98vw;
    height: 80px;
    align-items: center;
    position: relative;
    z-index: 1;
    margin-top: -40px;
    transition: height 0.3s ease, z-index 0.3s ease;
}

.botao1:hover {
    height: 100px;
    z-index: 0;
}

.botao2:hover {
    height: 100px;
    z-index: 0;
}

.botao3:hover {
    height: 100px;
    z-index: 0;
}

.botao4:hover {
    height: 100px;
    z-index: 0;
}

.fundo {
    margin-top: 20px;
    height: 420px;
    width: 100%;
    background-color: #ffffff;
    margin-left: 20px;
    box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
    border-radius: 50px;
    z-index: 1;
}

.fundo2 {
    margin-top: 50px;
    height: 420px;
    width: 80%;
    background-color: #EFACDF;
    margin-left: 150px;
    box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
    border-radius: 50px;
    z-index: 2;
    position: fixed;
}

pre {
    color: black;
    margin-left: -30px;
}

a {
    text-decoration: none;
}

.nomes {
    background-color: #A1D0A6;
    margin-top: 64px;
    display: flex;
    flex-direction: row;
    gap: 360px;
    height: 25px;
    margin-top: 545px;
}

.gj, .copy, .km {
    color: #716B6B;
    margin-top: 5px;
}

.gj {
    padding-left: 60px;
}

.telaInfo {
    padding: 50px;
    color: white;
}
